*{
    box-sizing: border-box;
}

@font-face{
    font-family: "Jeju";
    src: url(../fonts/Jeju.ttf);
}

body{
    margin: 0%;
    background-color: #1e1e1e;
    font-family: 'Play', sans-serif;
    color: white;
}

img{
    max-width: 100%;
}

textarea{
    resize: none;
}

input[type=submit]{
    border: none;
    text-align: center;
    text-decoration: none;
}

textarea {
    resize: none;
}

.btn_activar{
    background-color: #28a745;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    margin: 0.5rem;
    color: white;
}

.btn_desactivar{
    background-color: #a72828;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    margin: 0.5rem;
    color: white;
}

.btn_editar{
    background-color: yellow;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    margin: 0.5rem;
}

table a{
    text-decoration: none;
    color: #fff;
}

table a:hover{
    color: yellow;
}

/* CSS PARA EL MENU */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #131313;
    border-bottom: 1px solid black;
    position: sticky;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 999;
    font-family: "Jeju";
}

.logo{
    color: white;
    text-decoration: none;
    font-size: 3rem;
    margin: 1.5rem;
}

header input[type=submit]{
    background-color: yellow;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    margin: 0.5rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1.5rem 8rem;
}

nav input{
    font-family: "Play";
    padding: 0.2rem;
}

.headerLogin{
    display: flex;
}

/* CSS PARA EL HOME */
#imgCabecera{
    height: 550px;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid black;
    display: block;
    object-position: center top;
}

#bienvenida h1{
    color: white;
    text-align: center;
    font-size: 3rem;
}

#bienvenida{
    display: flex;
    flex-direction: column;
    background-color: #131313;
    border: 1px solid black;
    margin: 1rem;
}

.div_wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

#bienvenida article{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 50%;
    padding: 3rem;
}

#bienvenida i{
    font-size: 4rem;
    color: yellow;
}

/* CSS PARA PLAY */
#play{
    text-align: center;
}

/* CSS GENERAL PARA LAS SECCIONES */
.seccion{
    width: 80%;
    margin: 4rem auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.seccion h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

.mensajeError{
    text-align: center;
}

.contenedor_buscar_nuevo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.contenedor_buscar_nuevo input{
    padding: 0.5rem;
    margin-right: 0.3rem;
    font: inherit;
}

.contenedor_buscar_nuevo input[type=submit]{
    background-color: yellow;
    padding: 0.5rem;
    border: 1px solid black;
}

.contenedor_buscar_nuevo input[type=submit]:hover{
    background-color: rgb(253, 253, 85);
}

.contenedor_buscar_nuevo form{
    display: flex;
}

.contenedor_buscar_nuevo a{
    background-color: black;
    padding: 0.5rem;
    border: 1px solid black;
    text-decoration: none;
    color: white;
}

.contenedor_buscar_nuevo a:hover{
    background-color: rgb(49, 49, 49);
}

/* CSS PARA FORMS */
.formkingz{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313;
    border: 1px solid black;
    padding: 2rem;
    color: white;
    width: fit-content;
    margin: 1rem auto;
}

.formkingz>div>label{
    margin-right: 1rem;
}

.formkingz>div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.formkingz input{
    font-family: inherit;
}

.formkingz input[type=submit]{
    background-color: yellow;
    padding: 0.5rem 1rem;
    font-family: "Jeju";
    font-size: 1rem;
    margin-top: 1rem;
}

/* CSS PARA LA PÁGINA DE PARTIDO */
#partido{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#cabecera_partido{
    display: flex;
    height: 6rem;
    width: 100%;
    margin-bottom: 3rem;
}

#nombre_equipos{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131313;
    border: 1px solid black;
    margin-right: 3rem;
}

#nombre_equipos>span{
    font-size: 2.5rem;
    margin: 1rem;
}

#nombre_equipos>p{
    margin: 1rem;
}

#cabecera_partido img{
    width: 30%;
    object-fit: cover;
    border: 1px solid black;
}

#cuerpo_partido{
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
}

#equipos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.equipo{
    display: flex;
    align-items: center;
    width: 40%;
}

.partido_player{
    background-color: #131313;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem 0rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.partido_player img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-top: 1px solid black;
    margin-right: 1rem;
    border-radius: 100%;
}

.partido_player>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.player_nombre{
    margin-right: 1rem;
}

#versus{
    font-family: "Jeju";
    font-size: 5rem;
}

#chat_partido{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40vh;
    background-color: #131313;
    border: 1px solid black;
    padding: 1rem;
    margin-left: 1rem;
}

#caja_mensajes{
    background-color: #0f0f0f;
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 100%;
    overflow-y: scroll;
}

#form_enviar_mensaje{
    display: flex;
}

#form_enviar_mensaje input{
    padding: 0.5rem 1rem;
    font-family: "Play";
    font-size: 1rem;
}

#mensaje{
    width: 100%;
}

#btn_resultado{
    color: #fff;
    background-color: #28a745;
    padding: 1rem 1rem;
    font-family: "Jeju";
    font-size: 1rem;
}

#btn_mensaje{
    background-color: yellow;
    padding: 0.5rem 1rem;
    font-family: "Jeju";
    font-size: 1rem;
}

/* CSS PARA LA PAGINA PERFIL DE JUGADOR */
#perfil_jugador{
    display: flex;
    flex-direction: column;
    background-color: #131313;
    border: 1px solid black;
    padding: 2rem;
    color: white;
}

#cabecera_perfil_jugador{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#perfil_jugador h2{
    margin: 1rem 0;
}

#editar_perfil{
    background-color: yellow;
    padding: 0.5rem 1rem;
    font-family: "Jeju";
    font-size: 1rem;
    margin: 1rem 0;
}

#jugador{
    display: flex;
    width: 100%;
}

#jugador img{
    border: 1px solid black;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-right: 2rem;
    border-radius: 100%;
}

#datos_jugador{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#estadisticas{
    display: flex;
    flex-wrap: wrap;
    background-color: #1e1e1e;
    padding: 0.3rem 1rem;
    border: 1px solid black;
}

#historial_jugador{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #1e1e1e;
    border: 1px solid black;
}

#historial_jugador table{
    border-collapse: collapse;
    width: 100%;
}

#historial_jugador tr{
    border-bottom: 1px solid #cfcfcf;
}

#historial_jugador td{
    padding: 1rem 0;
}

#historial_jugador th{
    text-align: start;
    color: #cfcfcf;
}

#historial_jugador tbody>tr:hover{
    background-color: #272727;
}

.win{
    color: green;
}

.lose{
    color: red;
}

/* CSS PARA EL LEADERBOARD */
#leaderboard table{
    border-collapse: collapse;
    color: white;
}

#leaderboard tr{
    border-bottom: 1px solid #cfcfcf;
}

#leaderboard td{
    padding: 1rem;
}

#leaderboard th{
    color: #cfcfcf;
    background-color: #131313;
    padding: 1rem;
}

#leaderboard tr>th:nth-child(1){
    text-align: start;
}
#leaderboard tr>th:nth-child(2){
    text-align: start;
}
#leaderboard tr>th:nth-child(6){
    text-align: end;
}
#leaderboard tr>td:nth-child(6){
    text-align: end;
}
#leaderboard tr>td:nth-child(3){
    text-align: center;
}
#leaderboard tr>td:nth-child(4){
    text-align: center;
}
#leaderboard tr>td:nth-child(5){
    text-align: center;
}
#leaderboard tbody>tr:hover{
    background-color: #272727;
}

/* CSS SECCION SOPORTE */
#seccionSoporte p{
    text-align: center;
}

/* CSS PANEL ADMIN */
.nav_admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 25%;
    margin: 1rem auto;
}

.nav_admin a{
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: yellow;
    padding: 0.5rem 1rem;
    font-family: "Jeju";
    font-size: 1.5rem;
    margin: 0.5rem;
    width: 100%;
}

/* CSS PARA PANEL USUARIOS */
#seccionUsuarios table{
    border-collapse: collapse;
    color: white;
}

#seccionUsuarios tr{
    border-bottom: 1px solid #cfcfcf;
}

#seccionUsuarios td{
    padding: 1rem;
    text-align: center;
}

#seccionUsuarios th{
    color: #cfcfcf;
    background-color: #131313;
    padding: 1rem;
    width: 33%;
}

#seccionUsuarios tbody>tr:hover{
    background-color: #272727;
}

/* CSS PARA PANEL PARTIDAS */
.contenedor_abiertas_cerradas{
    display: flex;
}

#seccionPartidas table{
    border-collapse: collapse;
    color: white;
}

#seccionPartidas tr{
    border-bottom: 1px solid #cfcfcf;
}

#seccionPartidas td{
    padding: 1rem;
    text-align: center;
}

#seccionPartidas th{
    color: #cfcfcf;
    background-color: #131313;
    padding: 1rem;
    width: 33%;
}

#seccionPartidas tbody>tr:hover{
    background-color: #272727;
}

/* CSS PARA PANEL TICKETS */
#seccionTickets table{
    border-collapse: collapse;
    color: white;
}

#seccionTickets tr{
    border-bottom: 1px solid #cfcfcf;
}

#seccionTickets td{
    padding: 1rem;
    text-align: center;
}

#seccionTickets th{
    color: #cfcfcf;
    background-color: #131313;
    padding: 1rem;
    width: 20%;
}

#seccionTickets tbody>tr:hover{
    background-color: #272727;
}

/* CSS PARA PAGINA TICKET */
#ticket{
    display: flex;
}

#ticket .contenedorTicket{
    display: flex;
    flex-direction: column;
    background-color: #131313;
    border: 1px solid black;
    padding: 2rem;
    color: white;
    margin: 1rem;
}

#ticket img{
    margin: 1rem;
    object-fit: cover;
    border: 1px solid black;
}

/* CSS PARA PAGINA NOTICIA */
#noticia{
    display: flex;
}

#noticia .contenedorNoticia{
    display: flex;
    flex-direction: column;
    background-color: #131313;
    border: 1px solid black;
    padding: 2rem;
    color: white;
    margin: 1rem;
}

#noticia img{
    margin: 1rem;
    object-fit: cover;
    border: 1px solid black;
}

/* CSS PARA PANEL MAPAS */
#seccionMapas table{
    border-collapse: collapse;
    color: white;
}

#seccionMapas tr{
    border-bottom: 1px solid #cfcfcf;
}

#seccionMapas td{
    padding: 1rem;
    text-align: center;
}

#seccionMapas th{
    color: #cfcfcf;
    background-color: #131313;
    padding: 1rem;
    width: 25%;
}

#seccionMapas tbody>tr:hover{
    background-color: #272727;
}

/* CSS PARA PANEL NOTICIAS */
#seccionNoticias table{
    border-collapse: collapse;
    color: white;
}

#seccionNoticias tr{
    border-bottom: 1px solid #cfcfcf;
}

#seccionNoticias td{
    padding: 1rem;
    text-align: center;
}

#seccionNoticias th{
    color: #cfcfcf;
    background-color: #131313;
    padding: 1rem;
    width: 33%;
}

#seccionNoticias tbody>tr:hover{
    background-color: #272727;
}

/* CSS PARA EL FOOTER */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #131313;
    border-top: 1px solid black;
    font-family: "Jeju";
}

footer a{
    text-decoration: none;
    color: white;
    margin: 0rem 2rem;
}

footer i{
    font-size: 1.5rem;
}


/* CSS PARA EL LOADER */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;   
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}